<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Way Data Binding</title>
</head>

<body>
    <div id="vue-app">
        <h1>
            {{name}}
        </h1>

        <label style="display: block;">Name: {{name}} </label>
        <input v-model="name">
        <span>{{name}}</span>

        <label style="display: block;">Age: {{age}} </label>
        <input v-model="age">
        <span>{{age}}</span>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>